In [56]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', None)

# Chemin vers votre fichier .log
chemin_fichier = "C:/Users/nagrimault/Downloads/log_brute.log"

# Nombre de lignes à sauter
#nombre_lignes_a_sauter = 11950738 #TEST
nombre_lignes_a_sauter = 7377860

# Créer une liste de dictionnaires pour stocker les données
donnees = []


# Ouvrir le fichier en mode lecture
with open(chemin_fichier, 'r') as f:
    # Lire et ignorer les premières lignes jusqu'à la ligne spécifiée
    for _ in range(nombre_lignes_a_sauter):
        next(f)
    
    # Lire et traiter les lignes restantes
    for ligne in f:
        # Diviser la ligne en fonction de votre structure de données
        elements = ligne.split()

    
        # Créer un dictionnaire avec les informations de la ligne
        ligne_donnees = {
            'Mois': elements[0] if len(elements) > 0 else '',
            'Jour': elements[1] if len(elements) > 1 else '',
            'Heure': elements[2] if len(elements) > 2 else '',
            'Ip': elements[3] if len(elements) > 3 else '',
            'A enlever': elements[4] if len(elements) > 4 else '', # kernel à enlever
            'Kernel': elements[5] if len(elements) > 5 else '', 
            'Status': elements[6] if len(elements) > 6 else '',
            'FW': elements[7] if len(elements) > 7 else '',
            'Rule': elements[8] if len(elements) > 8 else '',
            'In': elements[9] if len(elements) > 9 else '',
            'Out': elements[10] if len(elements) > 10 else '',
            'Mac': elements[11] if len(elements) > 11 else '',
            'SRC': elements[12] if len(elements) > 12 else '',
            'Dist': elements[13] if len(elements) > 13 else '',
            'Len': elements[14] if len(elements) > 14 else '',
            'Tos': elements[15] if len(elements) > 15 else '',
            'Prec': elements[16] if len(elements) > 16 else '',
            'TTL': elements[17] if len(elements) > 17 else '',
            'ID': elements[18] if len(elements) > 18 else '',
            'DF': elements[19] if 'DF' in elements else 'None',
            'Proto': elements[20] if 'DF' in elements else elements[19],
            'SPT': elements[21] if 'DF' in elements else elements[20],
            'DPT': elements[22] if 'DF' in elements else elements[21]
            # 'Window': elements[23] if elements[6]=="PERMIT" else '',
            # 'Res': elements[24] if elements[6]=="PERMIT" else '',
            # 'ColSyn': elements[25] if elements[6]=="PERMIT" else '',
            # 'Urgp': elements[26] if elements[6]=="PERMIT" else '',
        }
        
        donnees.append(ligne_donnees)

# Créer un DataFrame à partir de la liste de dictionnaires
df = pd.DataFrame(donnees)

# Appliquer la fonction lambda pour extraire la partie après "=" uniquement pour la colonne "MAC"
#df['Mac'] = df['Mac'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['FW'] = df['FW'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Rule'] = df['Rule'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['In'] = df['In'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Out'] = df['Out'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['SRC'] = df['SRC'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Dist'] = df['Dist'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['Tos'] = df['Tos'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['Prec'] = df['Prec'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['TTL'] = df['TTL'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['ID'] = df['ID'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)

df['SPT'] = df['SPT'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['DPT'] = df['DPT'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)

#df['Window'] = df['Window'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['Res'] = df['Res'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
#df['Len'] = df['Len'].str.split('=').str[1]
df['Proto'] = df['Proto'].str.split('=').str[1] 
#df['Urgp'] = df['Urgp'].str.split('=').str[1]


col_a_drop = ["A enlever","Kernel","Ip","Mac","FW","Len","TTL","ID","Tos","Prec","DF"]

df.drop(columns=col_a_drop, inplace=True)

In [61]:
df.drop(columns=["DF"], inplace=True)

In [62]:
df.head(15)

,Mois,Jour,Heure,Status,Rule,In,Out,SRC,Dist,Proto,SPT,DPT
0,Nov,12,09:56:38,PERMIT,1,eth0,,23.22.35.162,159.84.146.99,TCP,55973,443
1,Nov,12,09:56:37,DENY,999,eth0,,77.90.185.64,159.84.146.99,TCP,55366,65153
2,Nov,12,09:56:39,DENY,999,eth0,,79.124.60.150,159.84.146.99,TCP,53744,56283
3,Nov,12,09:56:39,PERMIT,1,eth0,,47.128.20.252,159.84.146.99,TCP,25404,443
4,Nov,12,09:56:39,PERMIT,1,eth0,,47.128.20.252,159.84.146.99,TCP,25408,443
5,Nov,12,09:56:39,PERMIT,1,eth0,,47.128.20.252,159.84.146.99,TCP,25442,443
6,Nov,12,09:56:39,PERMIT,1,eth0,,47.128.20.252,159.84.146.99,TCP,25424,443
7,Nov,12,09:56:39,PERMIT,1,eth0,,47.128.20.252,159.84.146.99,TCP,25500,443
8,Nov,12,09:56:40,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43172,443
9,Nov,12,09:56:41,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43173,443
10,Nov,12,09:56:41,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43174,443
11,Nov,12,09:56:41,PERMIT,1,eth0,,52.70.240.171,159.84.146.99,TCP,4249,443
12,Nov,12,09:56:41,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43175,443
13,Nov,12,09:56:41,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43176,443
14,Nov,12,09:56:41,PERMIT,1,eth0,,76.33.9.128,159.84.146.99,TCP,43177,443

In [58]:
df["Proto"].value_counts()

Proto
TCP    4572902
Name: count, dtype: int64

In [63]:
df.shape

(4572902, 12)

In [60]:
df.describe()

,Mois,Jour,Heure,Status,Rule,In,Out,SRC,Dist,DF,Proto,SPT,DPT
count,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902,4572902
unique,4,31,86400,2,10,1,1,130849,1,2,1,64566,65532
top,Dec,21,00:50:09,PERMIT,1,eth0,,3.224.220.101,159.84.146.99,DF,TCP,41831,443
freq,1620630,198089,4546,3747554,3660699,4572902,4572902,773605,4572902,3970459,4572902,132865,3621943

In [65]:
df.dtypes

Mois      object
Jour      object
Heure     object
Status    object
Rule      object
In        object
Out       object
SRC       object
Dist      object
Proto     object
SPT       object
DPT       object
dtype: object

In [64]:
df.to_csv('C:/Users/nagrimault/Downloads/final.csv', index=False)